{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h1>Agent list</h1>
<a href="/add">Add Agent</a>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>System Prompt</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for agent in agents %}
    <tr>
      <td>{{ agent.id }}</td>
      <td class="truncated-cell w-70" title="{{ agent.name }}">{{ agent.name }}</td>
      <td class="truncated-cell w-150" title="{{ agent.system }}">{{ agent.system }}</td>
      <td>
        <a href="{{url_for('edit_agent',id=agent.id)}}">Edit</a>
        <a href="{{url_for('delete_agent',id=agent.id)}}">Delete</a>
        <a href="{{url_for('chat_agent',id=agent.id)}}">Chat</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
